<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="talkable"
             translate="label"
             sortOrder="99999">
            <label>Talkable</label>
        </tab>
        <section id="socialreferrals"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Extension Options</label>
            <tab>talkable</tab>
            <resource>AltheaTech_Talkable::mrmonsters_talkable</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Talkable Integration</label>
                <field id="site_id"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Talkable Site ID</label>
                </field>
            </group>
            <group id="campaigns"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>Talkable Campaigns</label>
                <field id="post_purchase"
                       translate="label,comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Post Purchase</label>
                    <comment><![CDATA[Shown on the Checkout Success Page]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="invite"
                       translate="label,comment"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Invite</label>
                    <comment><![CDATA[Mounted at /share]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="advocate_dashboard"
                       translate="label,comment"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Advocate Dashboard</label>
                    <comment><![CDATA[Added to the Customer Account section]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="floating_widget_popup"
                       translate="label,comment"
                       type="select"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Floating Widget Popup</label>
                    <comment><![CDATA[Shown on every page]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
